In [1]:
import pandas as pd
import numpy as np
from datetime import date as dt

fname = 'Fitness.xlsx'
df = pd.read_excel(fname,header=1)

In [2]:
print type(df.Date[1])
td = pd.to_datetime(dt.today())
print td
print type(td)

<class 'pandas.tslib.Timestamp'>
2016-07-03 00:00:00
<class 'pandas.tslib.Timestamp'>

In [3]:
df.head()

,Date,Weight Morning,Weight Night,7 Avg Morning,7 Avg Night,-Δ7 Avg Morning,-Δ7 Avg Night,-Δ7 Avg Morning.1,-Δ7 Avg Night.1,Goal Date,...,7 Avg Alcohol,Unnamed: 28,Veg. Qty,Fruit Qty,Fat Qty,Starch Qty,Spread,7 Avg Spread,Liv Spread,7 Avg Liv Spread
NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.5,-0.5,-1.0,NaN,NaN,NaN,NaN
NaN,2015-10-04,NaN,217.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2015-10-05,215.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Monday,2015-12-28,NaN,221.0,NaN,221.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,2.0,2.0,3.0,-2.00,NaN,-1.5,NaN
Tuesday,2015-12-29,NaN,220.0,NaN,220.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,1.5,2.0,-1.25,NaN,-1.0,NaN

In [4]:
df.reset_index(inplace=True)
df.dropna(1, how='all', inplace=True)
cols_orig = df.columns

In [5]:
print df.shape
df.head()

(498, 36)

,index,Date,Weight Morning,Weight Night,7 Avg Morning,7 Avg Night,-Δ7 Avg Morning,-Δ7 Avg Night,-Δ7 Avg Morning.1,-Δ7 Avg Night.1,...,Alcohol Qty,7 Avg Alcohol,Veg. Qty,Fruit Qty,Fat Qty,Starch Qty,Spread,7 Avg Spread,Liv Spread,7 Avg Liv Spread
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.5,-0.5,-1.0,NaN,NaN,NaN,NaN
1,NaN,2015-10-04,NaN,217.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2015-10-05,215.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Monday,2015-12-28,NaN,221.0,NaN,221.0,NaN,NaN,NaN,NaN,...,0,NaN,1.0,2.0,2.0,3.0,-2.00,NaN,-1.5,NaN
4,Tuesday,2015-12-29,NaN,220.0,NaN,220.5,NaN,NaN,NaN,NaN,...,1,NaN,1.0,1.0,1.5,2.0,-1.25,NaN,-1.0,NaN

In [6]:
df_colnums = pd.DataFrame(np.array(range(df.shape[1])).reshape(1,-1), columns=df.columns).append(df, ignore_index=True)

In [7]:
df_colnums.head()

,index,Date,Weight Morning,Weight Night,7 Avg Morning,7 Avg Night,-Δ7 Avg Morning,-Δ7 Avg Night,-Δ7 Avg Morning.1,-Δ7 Avg Night.1,...,Alcohol Qty,7 Avg Alcohol,Veg. Qty,Fruit Qty,Fat Qty,Starch Qty,Spread,7 Avg Spread,Liv Spread,7 Avg Liv Spread
0,0,1,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,26,27.0,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0
1,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.5,-0.5,-1.0,NaN,NaN,NaN,NaN
2,NaN,2015-10-04 00:00:00,NaN,217.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2015-10-05 00:00:00,215.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Monday,2015-12-28 00:00:00,NaN,221.0,NaN,221.0,NaN,NaN,NaN,NaN,...,0,NaN,1.0,2.0,2.0,3.0,-2.0,NaN,-1.5,NaN

In [8]:
cols_drop = df_colnums.columns[[0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 27, 32, 33, 34, 35]]

In [9]:
df_colnums.drop(cols_drop, 1, inplace=True)

In [10]:
print df_colnums.shape
df_colnums.head()

(499, 18)

,Date,Weight Morning,Weight Night,Breakfast,Unnamed: 17,Unnamed: 18,Lunch,Snack,Snack.1,Unnamed: 22,Dinner,Unnamed: 24,Unnamed: 25,Alcohol Qty,Veg. Qty,Fruit Qty,Fat Qty,Starch Qty
0,1,2.0,3.0,16,17,18,19,20,21,22,23,24,25,26,28.0,29.0,30.0,31.0
1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.5,-0.5,-1.0
2,2015-10-04 00:00:00,NaN,217.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-10-05 00:00:00,215.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-12-28 00:00:00,NaN,221.0,OB Muffin,NaN,NaN,Masala,Mandarin,Apple,NaN,stir fry/crispy chicken/brown rice,NaN,NaN,0,1.0,2.0,2.0,3.0

In [11]:
df_colnums.columns = ['Date',
                      'Weight Morning',
                      'Weight Night',
                      'Food0',
                      'Food1',
                      'Food2',
                      'Food3',
                      'Food4',
                      'Food5',
                      'Food6',
                      'Food7',
                      'Food8',
                      'Food9',
                      'Alcohol',
                      'Vegetables',
                      'Fruits',
                      'Fats',
                      'Starches']

In [12]:
df_colnums.drop([0, 1], inplace=True)
df_colnums.reset_index(drop=True, inplace=True)

In [13]:
df_colnums.tail()
df_colnums.head()

,Date,Weight Morning,Weight Night,Food0,Food1,Food2,Food3,Food4,Food5,Food6,Food7,Food8,Food9,Alcohol,Vegetables,Fruits,Fats,Starches
0,2015-10-04 00:00:00,NaN,217.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-10-05 00:00:00,215.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-12-28 00:00:00,NaN,221.0,OB Muffin,NaN,NaN,Masala,Mandarin,Apple,NaN,stir fry/crispy chicken/brown rice,NaN,NaN,0,1.0,2.0,2.0,3.0
3,2015-12-29 00:00:00,NaN,220.0,OB Muffin,NaN,NaN,Salad,Mandarin,Mandarin,NaN,Hot Dog/Popcorn,NaN,NaN,1,1.0,1.0,1.5,2.0
4,2015-12-30 00:00:00,216.0,218.0,Breakfast Burrito,NaN,Mandarin,Salad,Mandarin,Mandarin,NaN,Sounders Burger/Fries,NaN,NaN,1,1.0,1.0,2.0,0.5

In [21]:
today = pd.to_datetime(dt.today())
df_input = df_colnums[df_colnums['Date'] < today]
df_weight = df_input[df_input.columns[[0, 1, 2]]]
df_food_text = df_input[df_input.columns[range(3, 13)]]
df_nutrition = df_input[df_input.columns[13:]]

In [22]:
df_weight.head()

                  Date  Weight Morning  Weight Night
0  2015-10-04 00:00:00             NaN         217.0
1  2015-10-05 00:00:00           215.0           NaN
2  2015-12-28 00:00:00             NaN         221.0
3  2015-12-29 00:00:00             NaN         220.0
4  2015-12-30 00:00:00           216.0         218.0